# https://caddyserver.com/docs/caddyfile/directives/import
import ./Caddyfile.d/*

nextcloud.TAILNET.ts.net {
    # for synapse
    header /.well-known/matrix/* Content-Type application/json
    header /.well-known/matrix/* Access-Control-Allow-Origin *
    respond /.well-known/matrix/server `{"m.server": "nextcloud.TAILNET_NAME.ts.net:8008"}`
    respond /.well-known/matrix/client `{"m.homeserver":{"base_url":"https://nextcloud.TAILNET_NAME.ts.net:8008"}}`
}
